<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Simple MVVM example</title>
  </head>
  <body>
    <div id="mvvm-app">
      <input type="text" v-model="someStr" />
      <input type="text" v-model="child.someStr" />
      <p>{{ getHelloWord }}</p>
      <p v-html="htmlStr"></p>
      <button v-on:click="clickBtn">"v-on:click" Button</button>
    </div>
    <script src="./lib/bundle.js"></script>
    <script>
      var vm = new MVVM({
        el: '#mvvm-app',
        data: {
          someStr: 'Hello ',
          child: {
            someStr: 'MVVM !'
          },
          htmlStr: '<marquee behavior="behavior" width="200" loop="2">v-html 实现的走马灯</marquee>',
        },

        computed: {
          getHelloWord: function() {
            return this.someStr + this.child.someStr
          }
        },

        methods: {
          clickBtn: function(e) {
            console.log('skr~')
          }
        }
      })
    </script>
  </body>
</html>
